/* 
css reset
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, textarea, input[type="text"],
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    vertical-align:baseline;
    background:transparent;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
body {
    line-height:1;
}
:focus {
    outline-width: 1px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}
nav ul,li {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    margin:15px 0;
    background-color: #ddd;
    border:0;
    height: 1px;
    line-height: 1px;
}
input, select {
    vertical-align:middle;
}
input[type=radio] {
    width: 15px;
    height: 15px;
}
h3{
    font-size: 16px;
    line-height: 18px;
    color: #535353;
}
h4{
    font-size: 14px;
    line-height: 16px;
    color: #707070;
}
h5{
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #7a7a7a;
}
img{
    vertical-align: middle;
}
hr{background-color: #ececec;border:0;height: 1px;}
input[type="text"]{height: 28px;line-height: 20px;padding: 4px 6px;border: 1px solid #e6e6e6;}
textarea{
    border: 1px solid #e6e6e6;
    padding: 5px;
}
label{position: relative;}
.select2-results__option {
    font-size: 14px;
}
/*clearfix*/
.clear{background:none;clear:both;display:block;float:none;font-size:0;overflow:hidden;visibility:hidden; width:0; height:0;line-height:0;}
.fix{zoom: 1;}.fix:after{content:".";display: block;height: 0;line-height:0;font-size:0;clear: both;visibility: hidden;}

.clearfix:before, .clearfix:after {content: "";display: block; line-height: 0; }
.clearfix:after,.ul-inline:after,.form-row:after {clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }

/*select normal*/
/*.select2-container{font-family: "Microsoft Yahei";letter-spacing: 1px;}*/
.select2-container .select2-selection--single{height: 30px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 5px;padding-right: 15px;}
.select2-container--default .select2-selection--single,.select2-selection--multiple{border: 1px solid #dedede;border-radius:0;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 28px;width: 15px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{transition: all .5s ease-in;-moz-transition: all .5s ease-in;-webkit-transition: all .5s ease-in;-o-transition: all .5s ease-in;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{transform: rotate(-180deg);-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-o-transform:rotate(-180deg);border-color: #888 transparent transparent transparent;border-width: 5px 4px 0 4px;}
.select2-dropdown{border-color: #dedede;}
.select2-container--open .select2-dropdown--below{border-top: 1px solid #dedede;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: #33a5f7;}
.select2-dropdown{width: auto;}
.select2-results__options{overflow:hidden;}
.select2-results__option{height: 26px;line-height:26px;padding: 1px 8px 1px 6px;width: 100%;white-space: nowrap;}
.form-check.val-null + span.select2-container--default .select2-selection--single,.form-check.val-null + span.select2-selection--multiple{border-color:#ff503f;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border: 1px solid #dedede;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{padding: 0 3px;}

/*select 圆角*/
.radius-select .select2-container .select2-selection--single{height: 27px;}
.radius-select .select2-container--default .select2-selection--single,.radius-select .select2-selection--multiple,.radius-select .select2-container--default .select2-selection--multiple{border-color: #dedede;border-radius: 3px;}
.radius-select .form-check.val-null + span.select2-container--default .select2-selection--single,.radius-select .form-check.val-null + span.select2-container--default .select2-selection--multiple{border-color: #ff503f;}
.radius-select .select2-container--default .select2-selection--single .select2-selection__arrow{height: 25px;}
.radius-select .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 25px}

/*select 白边框*/
.white-select .select2-container--default .select2-selection--single,.select2-selection--multiple{border-color: #fff;background-color: transparent;}
.white-select .select2-container--default .select2-selection--single .select2-selection__rendered{color: #fff;}
.white-select .select2-container--default .select2-selection--single .select2-selection__arrow b{border-color: #fff transparent transparent transparent;}
