html,
body {
    height: 100%;
    overflow: hidden;
    min-height: 560px;
    font-size: 12px;
    -moz-user-select: none;
    user-select: none;
}

.none {
    display: none;
}

/**
* fonts
*/

@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.eot?t=1499329564970');
    /* IE9*/
    src: url('fonts/iconfont.eot?t=1499329564970#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1499329564970') format('woff'), /* chrome, firefox */
    url('fonts/iconfont.ttf?t=1499329564970') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg?t=1499329564970#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vertical-line {
    position: relative;
    float: left;
    width: 1px;
    height: 25px;
    background-color: #b2b1b1;
    margin: 0 10px;
}

.select2-container .select2-selection--single {
    height: 28px;
}

#splitter_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#splitter_container .head-wrap {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 20px;
    background-color: #333A4D;
    color: #A2AAC1;
}

#splitter_container .head-wrap .quit-splitter{
    margin-right: 20px;
    display: flex;
}

#splitter_container .head-wrap .quit-splitter div{
    cursor: pointer;
}

#splitter_container .head-wrap .quit-splitter i{
    float: left;
    font-size: 20px;
}

#splitter_container .head-wrap .quit-splitter .quit{
    margin-left: 15px;
}

#splitter_container .head-wrap .quit-splitter .quit i{
    font-size: 24px;
}

#splitter_container .head-wrap .quit-splitter span {
    margin-left: 5px;
}

#splitter_container .main-wrap {
    flex: 1 1 auto;
    position: relative;
    display: flex;
}

#splitter_container #main_container {
    flex: 1 1 auto;
    position: relative;
    margin: 0 0 0 375px;
    padding: 40px 0;
    transition: margin .5s ease-in;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#splitter_container #main_container .bottom-props {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 0;
    background-color: #f6f6f6;
    color: #000;
    border-top: 1px solid #999999;
    display: none;
    align-items: center;
}

#splitter_container #main_container .bottom-props *{
    font-size: 14px;
}

#splitter_container #main_container .bottom-props label{
    float: left;
}

#splitter_container #main_container .bottom-props input, #splitter_container #main_container .bottom-props .select2-selection, .select2-dropdown{
    border-color: #b2b1b1;
}

#splitter_container #main_container .bottom-props .bottom-props-name-input {
    width: 87px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#splitter_container #main_container .bottom-props .bulge-backoff-selects {
    width: 55px;
}

#splitter_container #main_container .bottom-props .bottom-props-depth {
    margin-left: 10px;
}

#splitter_container #main_container .bottom-props .bottom-props-depth-input {
    width: 55px;
}

#splitter_container #props_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
}

#splitter_container #main_container .canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#splitter_container #props_wrap .props {
    flex: 0 0 auto;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#splitter_container #props_wrap .props:hover {
    background-color: #428bcb;
}

#splitter_container #props_wrap .props:nth-of-type(1) {
    margin-left: 0;
}

#splitter_container #props_wrap .props .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#splitter_container #props_wrap .props .icon-division {
    background-image: url('../images/split_defaulte.png');
}

#splitter_container #props_wrap .props .icon-division:hover {
    background-image: url('../images/split_hover.png');
}

#splitter_container #props_wrap .props .icon-curve {
    background-image: url('../images/merge_defaulte.png');
}

#splitter_container #props_wrap .props .icon-curve:hover {
    background-image: url('../images/merge_hover.png');
}

#splitter_container #props_wrap .props .icon-straight {
    background-image: url('../images/split_defaulte.png');
}

#splitter_container #props_wrap .props .icon-straight:hover {
    background-image: url('../images/split_hover.png');
}

#splitter_container #props_wrap .props .icon-delete {
    background-image: url('../images/clean_defaulte.png');
}

#splitter_container #props_wrap .props .icon-delete:hover {
    background-image: url('../images/clean_hover.png');
}

#splitter_container #props_wrap .props .pup {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    height: 30px;
    width: 40px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #2E3940;
}

#splitter_container #props_wrap .props:hover .pup {
    opacity: 1;
    transition: opacity 0.5s 0.25s;
    top: -39px;
    left: 0;
}

#splitter_container #props_wrap .props:hover .pup i {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #2E3940;
    border: #2E3940 solid;
    border-width: 0 1px 1px 0;
    position: absolute;
    left: 45%;
    bottom: -3px;
    transform: rotate(45deg);
}

#splitter_container #props_wrap .props.line:hover .pup {
    left: -20px;
    width: 80px;
}

#left_wrap {
    width: 375px;
    height: 100%;
    padding-left: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #eaeaea;
    transition: left .5s ease-in;
    background-color: #fff;
}

#left_draw {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#left_draw .title {
    font-size: 16px;
    flex: 0 0 auto;
    margin-top: 15px;
}

#left_draw .material-content {
    flex: 1 1 auto;
    margin-top: 15px;
}

#left_draw .material-content .box {
    float: left;
    display: flex;
    flex-direction: column;
    margin: 0 17px 16px 0;
    cursor: pointer;
}

#left_draw .material-content .box:hover .shape-obj {
    border: 2px solid #58A3F3;
    box-sizing: border-box;
}

#left_draw .material-content .shape-obj {
    flex: 1 1 auto;
    width: 142px;
    height: 142px;
}

#left_draw .material-content .box-info {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

#main_container .display {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
    z-index: 100;
    background-color: #fff;
    cursor: pointer;
}

#main_container .settings {
    position: absolute;
    left: 50%;
    top: 0;
    width: 390px;
    height: 40px;
    margin-left: -185px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: #fff;
}

#main_container .settings .setting {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

#main_container .settings .setting:hover > span{
    color: #58A3F3
}

#main_container .settings .setting:nth-of-type(1) {
    flex: 0 0 106px;
    border-right: 1px solid #d9d9d9;
}

#main_container .settings #setting_display_menu .setting-title {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#main_container .settings #setting_display_menu:hover > .setting-title{
    color: #58A3F3;
}

#main_container .settings #setting_display_menu:hover > .setting-display{
    display: block;
}

#main_container .settings #setting_display_menu:hover > .setting-title > .setting-browse {
    background-image: url('../images/browse_hover.png')
}


#main_container .settings #setting_display_menu:hover > .setting-title > .setting-unfold {
    background-image:url('../images/more_unfold_hover.png');
    transform: rotate(180deg);
}

#main_container .settings #setting_goback:hover > span, #main_container .settings #setting_goforward:hover > span {
    color: #000;
}
#main_container .settings #setting_goback.able:hover > span, #main_container .settings #setting_goforward.able:hover > span {
    color: #58A3F3;
}

#main_container .settings #setting_goback.able:hover > .setting-goback {
    background-image:url('../images/go_back_hover.png');
}

#main_container .settings #setting_goback.able > .cover {
    display: none;
}

#main_container .settings #setting_goforward.able:hover > .setting-goforward {
    background-image:url('../images/go_forward_hover.png');
}

#main_container .settings #setting_goforward.able > .cover {
    display: none;
}

#main_container .settings #setting_empty:hover > .setting-empty {
    background-image:url('../images/empty_hover.png');
}


#main_container .settings .setting span {
    margin: 0 6px;
    font-weight: bold;
    font-size: 14px;
    font-family: tahoma, arial, 宋体, sans-serif;
}

#main_container .settings .setting .cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 38px;
    background: rgba(255, 255, 255, 0.5);
}

#main_container .settings .setting:nth-of-type(2),
#main_container .settings .setting:nth-of-type(3) {
    flex: 0 0 98px;
}

#main_container .settings .setting:nth-of-type(3) {
    border-right: 1px solid #d9d9d9;
}

#main_container .settings .setting:nth-of-type(4) {
    flex: 1 1 auto;
}

#main_container .settings .setting .setting-browse {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('../images/browse.png')
}


#main_container .settings .setting .setting-unfold {
    width: 15px;
    height: 15px;
    background-image: url('../images/more_unfold.png');
    background-size: 15px 15px;
}

#main_container .settings .setting .setting-goback {
    width: 20px;
    height: 15px;
    background-size: 20px 15px;
    background-image: url('../images/go_back.png');
}

#main_container .settings .setting .setting-goforward {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('../images/go_forward.png');
}

#main_container .settings .setting .setting-empty {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('../images/empty.png');
}

#main_container .settings .setting-display {
    position: absolute;
    top: 37px;
    left: -3px;
    width: 115px;
    display: none;
    padding-top: 10px;
}

#main_container .settings .setting-display-container {
    border: 1px solid #d9d9d9;
    background-color: #fff;
    padding: 10px 0;
}

.setting-display-container:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #d9d9d9;
    transform: translate(-50%, 0);
}

.setting-display-container:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    transform: translate(-50%, 0);
}

#main_container .settings .setting-display .checkbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_container .settings .setting-display .checkbox-row .icheckbox_minimal+label {
    cursor: pointer;
    padding: 7px 0 7px 10px;
}

.message-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 43px;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 10px 13px 10px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #fff;
}

.message-box img {
    width: 28px;
    height: 28px;
}

.message-box label {
    font-size: 14px;
    display: block;
    line-height: 2;
}

.icheckbox_minimal {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-size: 80px 20px;
    background: url('../images/minimal.png');
}

.icheckbox_minimal .iradio_minimal {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    -webkit-background-size: 80px 20px;
    background-size: 80px 20px;
}

.icheckbox_minimal {
    background-position: -19px 0;
}

.icheckbox_minimal.checked {
    background-position: 0 0;
}

.iradio_minimal {
    background-position: -58px 0;
}

.iradio_minimal.checked {
    background-position: -38px 0;
}

canvas{
	position: absolute;
	left: 0px;
	top: 0px;
/*	background-color: #FFFFFF;
	border: solid 1px #999999;*/
}
.editText{
	width:40px;
	height:16px;
	position: absolute;
	text-align: center;
	}